@import 'variables';
@import 'mixins';
@import 'breakpoints';

.project-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include md {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-detail {
    width: 100%;
    max-width: 1000px;
    .project-detail-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      div {
        @include display-center;
        width: 60px;
  
        svg {
          width: 100%;
          fill: $completed;
        }
        span {
          color: $completed;
        }
      }
    }
  
    .project-detail-createdby {
      font-size: .875rem;
      color: $light;
    }
  
    .project-detail-content {
      color: $detail;
      line-height: 1.5;
      margin: 1rem 0;
    }
  
    .project-detail-category {
      display: inline-block;
      padding: .25rem;
      background-color: $development;
      color: white;
      border-radius: 10px;
      font-size: .75rem;
      margin: .5rem 0;
    }
  
    h4 {
      margin-bottom: 1rem;
    }
  
    .project-detail-assigned-users {
      display: flex;
      gap: .5rem;
      text-align: center;
      margin-top: .5rem;
  
      .project-detail-user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  
    h3 {
      margin: 3rem 0 1rem 0;
    }
  
    form {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-bottom: 3rem;
  
      label {
        width: 100%;
  
        input {
          width: 100%;
          line-height: 1rem;
          padding: .5rem;
          font-size: 1rem;
          border: none;
          outline: none;
          border-bottom: 1px solid $light;
        }
      }
  
      button {
        color: white;
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 4px;
        font-size: 1rem;
        padding: .5em 1em;
        cursor: pointer;
      }
    }
  
    .project-detail-comment-user {
  
      display: flex;
      align-items: center;
      gap: .5rem;
  
      .project-detail-comment-user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
      }
  
      .project-detail-comment-date {
        font-size: .875rem;
        color: $light;
      }
  
    }
  
    .project-detail-comment-content {
      margin-left: 48px;
      color: $detail;
      margin-bottom: 1.5rem;
    }
  
    .project-detail-update-project {
  
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
  
      @include md {
        flex-direction: row;
      }
      
      button {
        color: white;
        border-radius: 4px;
        font-size: 1rem;
        padding: .5em 1em;
        cursor: pointer;
      }
  
      button:first-child {
        background-color: $completed;
        border: 1px solid $completed;
      }
  
      button:last-child {
        background-color: red;
        border: 1px solid red;
      }
    }
  }

}

