@import 'variables';

.project-list {
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &:hover {
    transform: scale(1.02);
    transition: .2s all ease-in-out;
  }

  .status {
    padding: 1rem .5rem;
    margin-bottom: 1rem;
  }

  .inwork {
    border-bottom: 3px solid $inwork;
  }

  .completed {
    border-bottom: 3px solid $completed;
  }

  .project-list-detail {
    margin-top: 3rem;
    padding: 0 1rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: $detail;
    }

    .development {
      color: $development;
    }

    .design {
      color: $design;
    }

    .marketing {
      color: $marketing;
    }

    .project-list-category-users {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 500;
      }

      .project-list-users {
        display: flex;

        .project-list-user-pic {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }

    .project-list-comments-dueDate {
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: .875rem;

      .project-list-comments {
        display: flex;
        align-items: center;
        gap: .25rem;
      }
    }
  }
}